.appsAside {
    display: flex;
    flex-direction: column;

    .card {
        max-width: unset;
        flex-direction: row;

        img {
            max-width: 50px;
        }
    }
}

.appsCenter {
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 200px;
    color: black;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.showApp {
    flex-grow: 1;
    max-width: 800px;
}